@model IEnumerable<Assignment3.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>List of all teachers!</h2>
<h2>There are @Model.Count() teachers in the system</h2>
<div>
    @{
        foreach (Assignment3.Models.Teacher Teacher in Model)
        {
             <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFname @Teacher.TeacherLname</a></div>
        </div>
           
        }
      }
</div>
