@model Assignment3.Models.Teacher

@{
    ViewBag.Title = "Show";
}


<style>
    .updateLink {
        margin-left: 2rem;
    }
</style>


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="navlink updateLink" href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>
    <h2>Details of Teacher </h2>
    <div>First Name: @Model.TeacherFname</div>
    <div>Last Name: @Model.TeacherLname</div>
</div>

